*.class
math_env/
.vscode/
*.key
*.pem
secret.json
node_modules/
vendor/
venv/
env/
__pycache__/
dist/
build/
out/
*.o
*.exe
.idea/
*.suo
*.user
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-error.log
.env